/* Header + Navbar */
/* The side navigation menu */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
* {
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
}


/* Preloader */
#preloader {
  overflow: hidden;
  background-image: linear-gradient(145deg, #9b9b9b 0%, #6b6b6b 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

#HeaderContent{
  margin: auto;
}

.fp-tableCell{
  height: 100vh;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#fp-nav.fp-right{
  right: 4px !important;
}


/* The side navigation menu */
.collapsedNav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgb(17, 17, 17); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the collapsedNav */
}

/* The navigation menu links */
.collapsedNav a {
  color: white;
}

/* When you mouse over the navigation links, change their color */
.collapsedNav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.collapsedNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.collapsedNav .closebtn2 {
  position: absolute;
  top: 22px;
  left: 30px;
  font-size: 36px;
}

.collapsedNav ul{
  padding-left: 0 !important;
}

/* Remove border from toggler */
.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.collapsedNav li {
  color: white;
  list-style-type: none;
  margin-top: 3rem;
  cursor: pointer;
  text-align: center;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}

/* On smaller screens, where height is less than 450px, change the style of the collapsedNav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .collapsedNav {
    padding-top: 15px;
  }
  .collapsedNav a {
    font-size: 18px;
  }
}

@media screen and (max-height: 450px) {
  .sidecart,
  .sidenav {
    padding-top: 15px;
  }
  .sidecart a,
  .sidenav a {
    font-size: 18px;
  }
}

/* Navbar */
.topnav {
  position: relative;
  overflow: hidden;
  height: 8rem;
  margin: auto;
}

.navbar {
  position: unset !important;
  padding: .5rem 0rem !important;
}

.navbar .logo h1{
    color: black;
}

.topnav .nav-link {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: thin solid #fff;
}

.topnav-left h1{
  font-family: 'Mr Dafoe', cursive !important;
}

.topnav-left {
  position: absolute;
  top: 30%;
  left: 0%;
}

.topnav-centered h2{
  float: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  position: absolute;
  top: 30%;
  right: 0%;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    width: 7rem !important;
  }

  .topnav .nav-link {
    display: none !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .topnav-centered a {
    width: 10rem !important;
  }
}

/* Scroll down button */
.scroll-down {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  left: 0em;
  position: absolute;
  z-index: 999;
  font-size: 3em;
  background-color: transparent;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
.scroll-up {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  left: 0em;
  position: absolute;
  z-index: 1000;
  font-size: 3em;
  background-color: transparent;
}

.scroll-up::before,
.scroll-up::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(225deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-up 1s ease-in-out infinite;
}
.scroll-up::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-up 1s ease-in-out infinite; */
}

.s5 .scroll-down {
  display: none !important;
}

@keyframes scroll-up {
  100% {
    /* top:20%; */
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    top: 90%;
    opacity: 0;
  }
}

/* Sections */
.s1 .portfolio-img{
    width: 25%;
}
.s1 img{
    width: 100%;
}

.contact .msg-btn{
  border: none;
  padding: .5rem 1rem;
  background-color: black;
  color: white;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: black !important;
}

#fp-nav ul li .fp-tooltip{
    color: black !important;
}   

.about-desktop{
  display: flex !important;
  width: 50%; 
  margin: auto; 
}


.s3 img{
    width: 100%;
}

.s3 h1{
  text-align: center;
  padding-bottom: 1rem;
}

.project-cards {
    border-radius: 5px;
}

.project-details{
    padding: 1.2rem;
    background-color: white;
}

.project-details h5{
  color: #24262c;
}

.project-cards h2,
.project-cards p{
    color: black;
}

.project-cards h2{
  font-size: 24px;
  font-weight: 600;
}

.project-details button{
  background-color: black;
  color: white;
  border: none;
  padding: .5rem 1rem;
  margin-top: 1rem;
}

.project-cards {
    display: inline-block;
    position: relative;
    color: #0087ca;
    box-shadow: 2px 2px 4px lightgray
  }

.project-cards:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.project-cards:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Glide */
.glide{
  width: 90% !important;
  margin: auto;
}
.glide__slides{
  padding-bottom: 2rem !important;
}

.glide__track{
  width: 93%;
  margin: auto;
}
.glide__arrow--left{
  left: -1em !important;
}
.glide__arrow--right{
  right: -1em !important;
}
.glide__arrow--right i,
.glide__arrow--left i{  
    color: black;
}

.project-details{
  height: 15rem;
}
.project-cards img{
  height: 14rem;
}
.project-details p{
  margin-bottom: 0 !important;
}

/* Parallax */
.parallax {
  position: relative;
  width: 75%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.parallax h2{
  position: relative;
  justify-content: center;
  font-size: 12em;
  font-weight: 700;
  z-index: 100;
}

.parallax div{
    /*enable 3D rendering*/
    transform: translateZ(0);
    will-change: transform;
}

.parallax .layer img{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.hidden-keywords{
  position: absolute;
  left: -20rem;
  color: transparent;
}

.layer {
  position: absolute;
  width: 13%;
  height: 100%;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.logo1{
  top: 30%; 
  left: 540%; 
  width: 75%;
}
.logo2{
  top: 20%; 
  left: 400%;
}
.logo3{
  top: 70%; 
  left: 320%; 
  width: 50%;
}
.logo4{
  top: 23%; 
  left: 120%;
}
.logo5{
  top: 60%; 
  left: 500%; 
  width: 50%;
}
.logo6{
  top: 61%; 
  left: 200%;
}
.logo7{
  top: 50%; 
  left: 400%; 
  width: 75%;
}
.logo8{
  top: 43%; 
  left: 120%;
}
.logo9{
  top: 15%; 
  left: 250%;
}
.logo10{
  top: 65%; 
  left: 400%;
}
.logo11{
  top: 30%; 
  left: 250%;
}

.mobile-skills{
  display: none;
}

.mobile-skills h1{
  text-align: center;
}

.mobile-skills ul{
  width: 50%; 
  list-style: none; 
  padding-left: 0;
}

.mobile-skills li{
  display: flex; 
  justify-content: center; 
  margin-bottom: 1rem;
}

/* Footer */
.footer{
  text-align: center;
  padding: 2rem 0rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100% !important;
  color: black;
}

.footer a:hover {
  text-decoration: none;
}

.footer p{
  color: white;
}

.footer ul{
  display: inline-flex;
  list-style-type: none;
  padding-left: 0;
}

.footer li{
  padding: 0rem 1rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.footer hr{
  border-top: 1px solid black;
} 

.bottom-links{
  font-size: 25px;
  float: right;
}

.bottom-links a{
  color: black;
}

.bottom-links a:hover{
  color: black;
}

.copyright{
  text-align: center;
}




/* Dark Mode */
.label {
    height: 26px;
    width: 50px;
    background-color: #111;
    border-radius: 50px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: auto;
    cursor: pointer;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  #toggleBox {
    padding-top: 6px;
    box-sizing: border-box;
  }
  
  .fa-moon-o {
    color: #f1c40f;
  }
  
  .fa-sun-o {
    color: #f39c12;
  }
  
  .ball {
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: #fff;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  body.dark{
    background-color: #24262c !important;
    transition: ease-in-out 0.5s;
  }

  body.dark .footer hr{
    border-top: 1px solid white;
  }
  
  body.dark #resume{
    color: #111;
  }

  body.dark .navbar-toggler.collapsed .toggler-icon {
    background-color: white;
  }
  
  
  body.dark #about p{
    color: #fafafa;
    transition: ease-in 0.5s;
  }
  body.dark #project h5, body.dark #project p{
    color: black;
    transition: ease-in 0.5s;
  }
  
  body.dark #about h5, body.dark #project h2{
    color: #019447;
  }
  
  body.dark #resume .container {
    background-color: #fafafa;
    box-shadow: #a5afa5 3px 3px 3px 3px;
    transition: ease-in 0.5s;
  }
  
  body.dark footer{
    background-color: #494949;
    transition: ease-in 0.5s;
  }

  body.dark #fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white !important;
  }

  body.dark #fp-nav ul li .fp-tooltip{
    color: white !important;
  }   

  body.dark p,
  body.dark h5,
  body.dark h2,
  body.dark h3,
  body.dark a,
  body.dark li,
  body.dark h4,
  body.dark h5,
  body.dark h1{
    color: white;
  }

  body.dark .scroll-down,
  body.dark .scroll-up{
    border: 2px solid white;
  }

  body.dark .scroll-down::before,
  body.dark .scroll-down::after {
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
}

body.dark .scroll-up::before,
body.dark .scroll-up::after {
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
}
  
  body.dark .copyright {
    color: white;
    transition: ease-in 0.5s;
  }
  
  body.dark .background-header{
    background-color: #494949 !important;
    transition: ease-in 0.5s;
  }
  
  body.dark .header-area .main-nav .nav li.submenu ul li a:hover{
    color: white;
  }
  
  body.dark a.main-button-slider:hover{
    color: white;
  }
  
  body.dark button.main-button:hover{
    color: white;
  }
  body.dark .background-header .main-nav .nav > li:hover > a {
    color: white !important;
    transition: ease-in 0.5s;
  }
  
  body.dark .background-header .main-nav .nav > li > ul > li:hover > a {
    color: lightgray !important;
    transition: ease-in 0.5s;
  }
  
  body.dark .background-header .nav li a.active {
    color: lightgray !important;
  }